 /* Split the screen in half */
.split {
  height: 85%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 10%;
  bottom: 5%;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: green;
}

/* Control the right side */
.right {
  right: 0;
  background-color: lightgreen;
}


/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 25%;
} 

.aligncenter {
        text-align: center;
    }
    ul {
        display:inline-block;
        text-align: left;
        list-style-position: inside;
        color: orange;
        font-size:18px; 
    }
    h1 {text-align: center;color: orange}
    h2 {text-align: center;color: orange}
    h4 {text-align: center;color: green}
    p {text-align: center;color: white}

a {
  color: orange;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

